@font-face {
    font-family: 'Montserrat Bold';
    src: url(../font/montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url(../font/montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'Poppins Regular';
    src: url(../font/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins Medium';
    src: url(../font/poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'AftaSansThin Regular' ;
    src: url(../font/work-sans/AftaSansThin-Regular.otf);
}
/*---- Estilos generales ----*/
body{
    background-color: #eee;
}
.border-none{
    border: 0px;
}
a {
    text-decoration: none;
}
.ml-auto{
    margin-left: auto;
}
/*Botones*/
.btn-alc-1{
    color: #fff;
    background: #1151d3;
}
.btn-alc-2{
    background-color: #dd0e0e;
    color: #ffffff;
}
.btn-alc-2:hover{
    background-color: #c51212;
    color: #ffffff;
}
/*---- Tipos de letras ----*/
.monts-bold{
    font-family: 'Montserrat Bold';
    letter-spacing: -0.05em;
}
/*---- Colores de letras ----*/
.ltr-color-1{
    color: #dd0e0e;
}
.ltr-color-1:hover{
    color: #c51212;
    border: 1px solid #c51212;
}
/*---- Backgrounds ----*/
.bg-cl-1{
    background-color: #1151d3;
    color: #fff;
}
.bg-cl-2{
    background-color: #ffffff;
}


/*---- Login - Register - olvido contraseña ----*/
.lro-rs .card-header{
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 7px 0 15px;
    font-size: 18px;
}
.lro-rs .card-header{
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 7px 0 15px;
    font-size: 18px;
}
.lro-rs label,.lro-rs a,.lro-rs input{
    font-family: 'Poppins Medium';
}
.lro-rs button{
    font-family: 'Montserrat SemiBold';
}
.lro-rs .card-body {
    padding: 2rem 1rem 4rem;
}
.lro-rs .cont-1{
    margin-top: 10px;
}
/*Menus*/
.gr-nav-1{
    background: #202f5b;
    color: #ffffff;
    padding: 0px; 
}
.gr-nav-1 ul li{


}
.gr-nav-1 ul li.active{
    background: #1151d3;
}
.gr-nav-1 ul li:active,.gr-nav-1 ul li:hover{
    background: #1151d3;
    color: #ffffff;
}
.gr-nav-1 ul li a:hover{
    color: #fff;
  
}
.gr-nav-1 ul li a:focus {
    color: #fff;
}
.gr-nav-1 ul li.active a{
    color: #ffffff;
}
.gr-nav-1 ul li a{
    color: rgba(255,255,255,0.71);
    font-family: 'Montserrat Bold';
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 22px !important;
    letter-spacing: 0.5px;
    height: auto !important;
}
.gr-nav-1  .dropdown-menu {
    background: #1f2024;
    margin: 0;
    padding: 0px;
    border-radius: 0;
    border: 0px ;
}
.gr-nav-1 .dropdown-menu[data-bs-popper] {
    margin-top: 0rem;
}
.gr-nav-1  .dropdown-item:hover, 
.gr-nav-1  .dropdown-item:focus {
    color: #ffffff;
    background-color: #1151d3;
}
.gr-nav-1 .dropdown-menu > li > a {
    padding: 12px 15px !important;
    font-size: 12px;
    font-family: 'Poppins Regular';
    display: block;
    transition: .3s;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    white-space: break-spaces;
    color: #ffffff;
}
.gr-nav-2{
    background: #202f5b;
    color: #ffffff;
    padding: 5px 0px 10px;
}
.gr-nav-2 .container-fluid,
.gr-nav-1 .container-fluid{
    padding-right: 50px ;
    padding-left: 50px ;
}
/*Redes sociales*/
.redes-sociales li {
    margin-right: 5px;
    width: 35px;
}
.redes-sociales .icon-soci{
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin: 0;
    text-align: center;
    width: 35px;
    border-radius: 3px;
}
.redes-sociales .facebook-icon{
    background: #3b5998;
    color: #fff;
}
.redes-sociales .twitter-icon{
    background: #1da1f2;
    color: #fff;
}
.redes-sociales .instagram-icon{
    color: #fff;
    background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%),linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
}
/*Header principal*/
.mg-nav-widget-area-back{
    background-image: url("../img/faro.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mg-nav-widget-area-back .inner{
    width: 100%;
    padding: 25px 0;
}
.mg-nav-widget-area-back .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
.mg-nav-widget-area {
    padding-bottom: 0px;
}
.mg-nav-widget-area .row {
    justify-content: center;
    text-align: center;
}
.mg-nav-widget-area .site-branding-text .site-title {
    font-family: 'Montserrat Bold';
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 34px;
}
/*---- Input file ----*/
.inp-file-1{
    border: #eb1313 1px solid;
    padding: 5px 10px;
    border-radius: 6px;
    color: #eb1313;
}
.inp-file-1:hover,
.inp-file-1:focus,
.inp-file-1:active {
    border: #eb1313 1px solid;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #eb1313;
    color: #ffffff;
    transition: 0.5s;
}
/*---- Footer ----*/

footer .overlay {
    background: #121026;
    padding: 40px 0 0 0;
}
footer .mg-footer-bottom-area {
    padding-bottom: 30px;
}
footer .mg-footer-bottom-area .divide-line {
    margin-bottom: 40px;
    height: 2px;
    width: 100%;
    background: #1a182e;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
footer h1.site-title {
    margin-bottom: 0;
}
body .site-title a, body .site-description {
    color: #fff;
}
.mg-social {
    padding: 0px;
    margin: 0;
}
footer .mg-footer-copyright {
    background: #090818;
    padding: 25px 0;
}
footer .redes-sociales {
    flex-direction: initial;
    justify-content: end;
}
.site-branding-text .site-title a {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Montserrat Bold';
    text-decoration: none;
    letter-spacing: -0.05em;
}
footer .redes-sociales  .nav-link {
    padding: 0 !important;
}
footer .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
.ms-auto {
    margin-left: auto !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
footer .mg-footer-copyright .text-xs {
    margin: auto 0;
}
.info-right {
    display: block;
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;
}
.info-right li {
    display: inline-block;
    margin-right: 15px;
    padding: 0;
}
footer .mg-footer-copyright .nav-link {
    padding: 0.5rem;
}
footer .mg-footer-copyright p, footer .mg-footer-copyright a {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    color: #aaaed1;
    font-family: 'AftaSansThin Regular' ;
}
@media (min-width: 992px){
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
}